.c-nav {
    width: 100%;
    display: block;
    box-sizing: inherit;
}

.c-nav--primary {
    position: absolute;
    padding: 0;
    height: 60px;
    background-color: $darkest;
    top: 0;
    box-shadow: 0px 10px 30px 0 rgba(0, 104, 139, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .c-nav_list {
        justify-content: flex-start;
        display: flex;
        align-items: center;
        flex: 1;

        .c-nav-ul {
            justify-content: flex-start;
            display: flex;
            flex: 1;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .c-nav--primary-li {
                position: relative;
                width: auto;
                padding: 1rem;
                font-family: inherit;
                font-size: inherit;
                font-weight: 500;
                color: $text-color;
                cursor: pointer;

                a {
                    color: $text-color;
                    font-weight: bold;
                    text-decoration: none;
                }

                a:hover {
                    color: $primary-color;
                }

                .active {
                    border-bottom: 3px solid $primary-color;
                }
            }
        }
    }
}

.c-nav__row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .c-nav-btn-container {
        margin: auto 0;
    }
}

.c-container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 10px;
}

.c-hplogo {
    display: flex;
    align-items: center;
    width: 200px;
    text-decoration: none;
    font-family: inherit;
    outline: 0;
    svg {
        fill: $primary-color;
        padding: 0px 5px;
        flex: 2;
    }
    span {
        font-weight: bold;
        letter-spacing: -2px;
        color: $primary-color;
        flex: 8;
        white-space: nowrap;
    }
}

.c-hplogo-white {
    line-height: inherit;
    display: inline-block;
    font-size: xx-large;
    padding: 0;
    border: none;
}

.is-hidden {
    display: none;
    transform: translateX(100%);
}

.is-open {
    transform: translateX(0);
}

.c-nav_mobile {
    transition: ease-in-out 0.5s;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem .5rem;
    z-index: 2;
    background: $tertiary-color;

    .c-nav_toolbar {
        height: 70px;
        display: flex;
        justify-content: space-between;
    }

    .c-nav_scroller {
        overflow-y: scroll;
        padding-right: .5rem;
        padding-bottom: 8rem;
        height: 90%;
        .c-nav_list {
            outline: 0;
            height: inherit;
        }
        ul {
            width: 100%;
            height: inherit;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            li {
                font-size: xxx-large;
                margin: .5rem 0;
                outline: 0;
                height: 20%;

                a {
                    color: $text-color;
                    font-weight: bold;
                    text-decoration: none;
                }

                .active {
                    color: $primary-color;
                }
            }
        }
    }
}