@import 'config';
@import 'utilities';
@import 'forms';
@import 'buttons';
@import 'navbar';
@import 'portfolio';
@import 'contact';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

html {
    margin: 0;
}

body {
    background-color: $tertiary-color;
    font-family: 'Cantarell', sans-serif;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    // overflow-y: hidden;
}




#root {
    margin: 0;
    // height: 100vh;
}

.App {
    height: inherit;
}

.home-container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-text {
    text-align: center;
    margin-top: 18vh;
    color: $light-color;
    flex: 2;
    width: 90%;
    h1 {
        width: 90vw;
        font-weight: bolder;
        font-size: 18vw;
        line-height: 75%;
        color: $light-color;
        text-shadow:    0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        0px 0px .15vw $light-color, .8vw 0px 6px $primary-color, 
                        2px 3px 20px rgba(0, 0, 0, 0.5); 
        
    }

    h2 {
        margin: 40px;
        color: $light-color;
    }
}

.logo-container {
    margin-bottom: 8px;
    a {
        padding: 0 10px 0 10px;
    }
}

