@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');
@import 'config';
@import 'utilities';
@import 'forms';
@import 'buttons';
@import 'navbar';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $tertiary-color;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow-y: hidden;
}

.login-container {
    // background-color: $primary-color;
    color: #fff;
    height: 600px;
}

#root {
    margin: 0;
    height: inherit;
}

.App {
    height: inherit;
    margin-top: 60px;
}

